<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">

  <!-- 조회결과를 매핑할 클래스정보 등록: resultType="" -->
  <select id="findAll" resultType="domain.dto.board2.Board2DTO">
  	select * from board2 
  	order by bno desc
  </select>
  <select id="findById" resultType="domain.dto.board2.Board2DTO">
  	select * from board2 
  	where bno=#{bno}
  </select>
  <insert id="save">
  	insert into board2(bno, title, content, writer, updated_date)
  	values(seq_bo2.nextval, #{title}, #{content}, #{writer}, systimestamp)
  </insert>
  
</mapper>